firefox -P default -new-window http://www.example.com
firefox -P default -new-window http://www.example.com
firefox -P default -new-window http://www.example.com
firefox -P default -new-window http://www.example.com
